@using System.Drawing;
@using Blog.ViewModels;

@model  ProfileViewModel

@{
    Layout = "/Views/MainPage.cshtml";
    Culture = UICulture = Model.MasterPage.Language;
}
<nav>
    <div class="container">
        <div id="menu">
            @Html.Partial("TopMenu", Model.MasterPage);
        </div>
        <a id="menu-toggle" href="#" class=" ">&#9776;</a>
    </div>
</nav>
<header>
    <div class="container">
        <h2 class="docs-header"> @Resources.Home.BlogName </h2>
    </div>
</header>
<section>    
    <div class="docs-content">
        <form id="Profil-form" >
          
            <table border="0">
                <tr>
                    <td>
                        <h4 class="toplinks">@Resources.Authentication.DataOfAccount</h4>
                        <h5 id="Status"></h5>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h4> @Resources.Authentication.Name </h4>
                        <input name="FirstName" type="text" value="@Model.User.FirstName" id="first_name"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h4> @Resources.Authentication.SecName </h4>
                        <input name="SecondName" type="text" value="@Model.User.SecondName" id="second_name" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <h4> @Resources.Authentication.Login </h4>
                        <input name="Login" id="login" type="text" value="@Model.User.Login" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <h4> @Resources.Authentication.Password </h4>
                        <input name="Password" type="password" value="@Model.User.Password" id="pass" />
                    </td>
                    <td>
                        <h4> @Resources.Authentication.ConfPassword </h4>
                        <input name="ConfirmPassword" type="password" value="@Model.User.Password" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <h4> @Resources.Authentication.You @Model.User.Role</h4>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="hidden" value="@Model.User.Role" name="Role" id="role"/>
                        <input type="hidden" value="@Model.User.Id" name="Id" id="id"/>
                        <input type="button" value="@Resources.Admin.Edit" id="send"/>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</section>

<script>
   
    
    $(function () {
        $("#Profil-form").validate({

            rules: {
                FirstName: {
                    required: true
                },
                SecondName: {
                    required: true
                },
                Login: {
                    required: true,
                },
                Password: {
                    required: true,
                    minlength: 5
                },
                ConfirmPassword: {
                    required: true,
                    minlength: 5,
                    equalTo: "#pass"
                }
            }
            
        });


        $("#send").click(function () {
            $.ajax({
                url: "/api/ajaxuser",
                type: "POST",
                data: {
                    Id: $("#id").val(),
                    FirstName: $("#first_name").val(),
                    SecondName: $("#second_name").val(),
                    Login: $("#login").val(),
                    Password: $("#pass").val(),
                    Role: $("#role").val()
                },
                success: function (data) {
                    var res = "";
                    if (data == "True") {
                        res = "<h3> Chouse login already exist </h3>";
                    }
                    if (data == "False") {
                        res = "<h3> Profile changed </h3>";
                    }
                    $("#Status").html(res);
                }
            });
        });



    });
    


</script>