@using Blog.Models.ViewModels;
@model EditTopicViewModel
@{
    Layout = "~/Views/MainPage.cshtml";
    Culture = UICulture = Model.MasterPage.Language;
}


<nav>
    <div class="container">
        <div id="menu">
            @Html.Partial("TopMenu", Model.MasterPage);
        </div>
        <a id="menu-toggle" href="#" class=" ">&#9776;</a>
    </div>
</nav>
<header>
    <div class="container">
        <h2 class="docs-header"> @Resources.Home.BlogName </h2>
    </div>
</header>
<section>

    @Html.Partial("Admin"); 


    <div class="docs-content">
        <table>
            <tr>
                <th>
                    <h4>@Resources.Admin.SelectTopic</h4>
                </th>
            </tr>
            @foreach (var item in Model.Topics)
            {
                <tr>
                    <th>
                        <a  id="@item.Id-link">@Resources.Admin.Edit @item.NameTopic</a>
                        <script>
                            $(function () {
                                $("#@item.Id-link").click(function () {
                                    $.ajax({
                                        url: "/api/ajaxtopic",
                                        type: "GET",
                                        data: {
                                            Id: "@item.Id"                                           
                                        },
                                        success: function (data) {
                                            document.getElementById('NameTopic').value = data.NameTopic;
                                            document.getElementById('ContextTopic').value = data.ContextTopic;
                                            document.getElementById('Id').value = data.Id;                                            
                                        }
                                    });
                                });           
                            });
                          
                        </script>      
                    </th>
                </tr>    
            }
        </table>

        <form method="post" action="~/Admin/Edit" id="Edit-form">
            <p><b>@Resources.Admin.NameTopic</b></p>

            <p><input type="text" name="NameTopic" id="NameTopic" /></p>
            <input type="hidden" name="Id" id="Id" />

            <p><b>@Resources.Admin.TextTopic</b></p>

            <p><textarea rows="15" cols="100" name="ContextTopic" id="ContextTopic"></textarea></p>

            <p><input type="submit" value="@Resources.Admin.Edit"></p>
        </form>
    </div>

</section>

<script>

    $(function(){
        $("#Edit-form").validate({

            rules: {
                NameTopic: {
                    required: true
                },
                ContextTopic:{
                    required: true
                }
            }
        });
    });



</script>