@using System.Drawing;
@using Blog.Models;
@using Blog.Models.AuthModel;
@using Blog.Models.ViewModels;

@model  LoginViewModel

@{
    Layout = "/Views/MainPage.cshtml";
    Culture = UICulture = Model.MasterPage.Language;
}
<nav>
    <div class="container">
        <div id="menu">
            @Html.Partial("TopMenu", Model.MasterPage);
        </div>
        <a id="menu-toggle" href="#" class=" ">&#9776;</a>
    </div>
</nav>
<header>
    <div class="container">
        <h2 class="docs-header"> @Resources.Home.BlogName </h2>
    </div>
</header>
<section>

    <h2>@Resources.Authentication.Log</h2>
    <div class="docs-content">
        <form method="post" action="~/Authentication/Login" id="Send-form">

            @Html.AntiForgeryToken()                       
                <div>                 
                    <div>
                      <p>@Resources.Authentication.Login</p>
                      <input type="text" name="LoginName" />
                    </div>
                </div>
                <div>
                   <p>@Resources.Authentication.Password</p>
                    <div>
                        <input type="password" name="Password"/>                           
                </div>

                <div>
                    <input type="hidden" name="Role" value="guest">
                    <input type="submit" value="@Resources.Authentication.Log" />
                </div>
            </div>
         </form>
   </div>

           
</section>

<script>
    $(function () {
        $("#Send-form").validate({

            rules: {
                LoginName: {
                    required: true
                },
                Password: {
                    required: true
                }
            }
        });
    });
</script>