@using Blog.Models;
@model Tuple<Topic, IEnumerable<Message>,ForMasterPage>
@{
    Layout = "~/Views/MainPage.cshtml";
}
<script src="~/Scripts/jquery-1.10.2.min.js"></script>

<nav>
    <div class="container">
        <div id="menu">
            @Html.Partial("TopMenu", Model.Item3);
        </div>
        <a id="menu-toggle" href="#" class=" ">&#9776;</a>
    </div>
</nav>
<header>
    <div class="container">
        <h2 class="docs-header"> Blog about Embedded system</h2>
    </div>
</header>
<section>
    <div class="docs-content">
        <h3 id="@Model.Item1.Id"> @Model.Item1.NameTopic </h3>
        <p>
            @Model.Item1.PablishingData<br />
        </p>
        <p>@Model.Item1.ContextTopic</p>
    </div>

   
        <h3 id="Comments"> Comments </h3>
    <div id="comments">
        @foreach (var item in Model.Item2)
        {
            <div class="docs-content">
                <h3> @item.UserName </h3>
                <p>@item.MessageText</p>
            </div>
        }
    </div>   
    <div id="newMess">

    </div>
        <div class="docs-content" >   
            <form  id="loginForm">

                <input type="hidden" value="@Model.Item1.Id" id="idTop" />
                <p><b>Введите ваш отзыв:</b></p>
                <p><textarea rows="5" cols="100" id="messageText"></textarea></p>
                <input type="submit" value="Send" id="sendMessage" />  
                
            </form>             
       </div>
   
    <script>
        $(function () {
            $("#loginForm").submit(function () {
                $.ajax({
                    url: "/api/ajax",
                    type: "POST",
                    data: {
                            Id: "0",
                            UserName:"user",
                            PablishingData:"date",
                            IdTopic: $("#idTop").val(),
                            MessageText: $("#messageText").val()
                    },
                    success: function (data) {
                        var res = "";
                        for (var i = 0; i < data.length; i++) {
                            res += data[i].UserName + "<br />";
                            res += data[i].MessageText + "<br />";
                        }
                        $('#newMess').html(res);
                    }
                });
            });
           
        });
       
    </script>

</section>
