@using Blog.Models.ViewModels;
@model ShowSelectedViewModel
@{
    Layout = "~/Views/MainPage.cshtml";

    Culture = UICulture = Model.MasterPage.Language;
    
}
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<nav>
    <div class="container">
        <div id="menu">
            @Html.Partial("TopMenu", Model.MasterPage);
        </div>
        <a id="menu-toggle" href="#" class=" ">&#9776;</a>
    </div>
</nav>
<header>
    <div class="container">
        <h2 class="docs-header"> @Resources.Home.BlogName </h2>
    </div>
</header>
<section>
    <div class="docs-content">
        <h3> @Model.Topic.NameTopic </h3>
        <p>
            @Model.Topic.PablishingData<br />
        </p>
        <p class=".pTag">@Model.Topic.ContextTopic</p>
    </div>

   
        <h3>@Resources.Admin.Comment </h3>
    <div id="Comments" name="comments">
        @foreach (var item in Model.Comments)
        {
            <div class="docs-content">
                <h3> @item.UserName </h3>
                <h5> @Resources.Admin.Published: @item.PablishingData.ToString() </h5>
                <p>@item.MessageText</p>
            </div>
        }
    </div>  
   




    <div id="result">  </div>
        <div class="docs-content">
            <form id="loginForm">

                <input type="hidden" value="@Model.Topic.Id" id="idTopic" />
                <p><b>@Resources.Admin.YourMessage:</b></p>
                <p><textarea rows="5" cols="100" id="messageText"></textarea></p>
                <input type="button" value="@Resources.Admin.Send" id="sendComment" />

            </form>
        </div>
    
</section>
