<div id="main">
    <div id="picture">
        <h4> @Resources.Admin.AdministratorPart</h4>
    </div>
    <div id="button">
        <a href="~/Admin/Create">
            <h4> @Resources.Admin.AddTopic</h4>
        </a>
        <a href="~/Admin/Edit">
            <h4> @Resources.Admin.ChangeTopic </h4>
        </a>
        <a href="~/Admin/Delete">
            <h4> @Resources.Admin.DeleteTopic </h4>
        </a>
        <a href="~/Admin/ChangeRole">
            <h4> @Resources.Admin.ChangeUserRole </h4>
        </a>
    </div>
</div>
